@font-face {
  font-family: 'Office Code';
  src: url('/static/fonts/OfficeCodePro-Light.woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Office Code';
  src: url('/static/fonts/OfficeCodePro-Bold.woff');
  font-weight: 700;
}