---
title: Amanda Pinsker | Designer
name: Museum Capstone
type: project
---

{% extends "layouts/base.twig" %}
{% block content %}
<section class='site-container'>
    {% include "layouts/navigation.twig" %}
    {% include "layouts/project-info.twig" %}
    <section class="project-section">
        <div class="project_img-container project_img-container--full">
            <img class="project_img" src="/static/img/full/museum1.jpg"/>
        </div>
        <div class="project_text-container">

            <h3 class="project_subhead">Background</h3>
            <p class="project_text">I am currently working on my Senior Capstone project with 4 other students. We identified this problem area as a shared interest and spent the majority of last semester (Sept '16–Dec '16) on research. The final deliverable of our research last semester was a proof of concept. This semester, we're iterating on and testing our work so far to build a final prototype.</p> 
        </div>
        <div class="project_text-container project_text-container--half">
            <h3 class="project_subhead">Project Goals</h3>
            <p class="project_text">To create a memorable and accessible experience for novice visitors that creates interest and conversation between visitors and the museum itself. </br>
            <div>
            <strong>How might we...</strong></p>
            <ul>
                <li>bridge the gap between physical and digital?</li>
                <li>support different interests of different visitors?</li>
                <li>support flexible decision making?</li>
                <li>create emotional/personal connections between museum goers and artifacts?</li>
                <li>add context to the content?</li>
                <li>encourage sharing?</li>
            </ul></div>
        </div>

        <div class="project_text-container project_text-container--half">
            <h3 class="project_subhead">Audience</h3>
            <p class="project_text">We identified our main audience as low-involvement museum visitors. We broke those people down into a few different segments.
            <p class="project_text">
                <strong>First time visitors</strong></br>
                Tourist</br>
                New local</p>
            <p class="project_text">
                <strong>Repeat visitors</strong></br>
                Student</br>
                Experience seeker</br>
                Recharger</br>
                Specialist</p>
            <p class="project_text">
                <strong>Facilitator</strong></br>
                Parent/Child</br>
                Teacher/Student</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container project_img-container--med">
            <img class="project_img" src="/static/img/full/museum2.jpg"/>
        </div>
        <div class="project_img-container project_img-container--med">
            <img class="project_img" src="/static/img/full/museum3.jpg"/>
        </div>
        <div class="project_img-container project_img-container--med">
            <img class="project_img" src="/static/img/full/museum4.jpg"/>
        </div>
        <div class="project_text-container">
            <h3 class="project_subhead">Brainstorming</h3>
            <p class="project_text">As a team, we did an exercize to get us to empathize with the audiences we were dealing with, figure out what problems we were interested in, and how we might solve them.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container project_img-container--full">
            <img class="project_img" src="/static/img/full/museum5.png"/>
        </div>
        <div class="project_text-container">
            <h3 class="project_subhead">Professional Interviews</h3>
            <p class="project_text">Based on our exercise, we realized we needed to understand the museum's point of view more, so we set up interviews with professionals who worked with or at these organizations. These interviews were to empathize with a new audience, but we were also looking to potentially partner with a museum to execute the project.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container project_img-container--med">
            <img class="project_img" src="/static/img/full/wellthy7.png"/>
            <img class="project_img" src="/static/img/full/wellthy8.jpg"/>
            <img class="project_img" src="/static/img/full/wellthy9.jpg"/>
            <h5 class="project_img-caption">Wireframes: customer views</h5>
        </div>
        <div class="project_img-container project_img-container--med">
            <img class="project_img" src="/static/img/full/wellthy4.png"/>
            <img class="project_img" src="/static/img/full/wellthy5.jpg"/>
            <img class="project_img" src="/static/img/full/wellthy6.jpg"/>
            <h5 class="project_img-caption">Wireframes: health planner views</h5>
        </div>
        <div class="project_text-container">
            <p class="project_text">The customer sees a dashboard with information about their health planner, contact information, and updates. Updates are marked as unread or read, with a timestamp. The customer can also view a description of what their health planner can do for them. The health planner dashboard allows them to post updates, view information about the patient that the customer entered during onboarding, and the customer contact information. The health planner can see if the customer has read their update. They can also edit the patient's current "care priorities."</p>
            <p class="project_text">Account settings for both function in the same manner. The user can click on a pencil icon to update a single item, instead of sending the whole form each time something needs to be updated.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container project_img-container--xl">
            <img class="project_img" src="/static/img/full/wellthy14.jpg"/>
            <h5 class="project_img-caption">Designs: health planner dashboard</h5>
        </div>
        <div class="project_img-container project_img-container--xxs">
            <img class="project_img" src="/static/img/full/wellthy15.jpg"/>
            <h5 class="project_img-caption">Designs: customer account settings</h5>
        </div>
        <div class="project_text-container">
            <h3 class="project_subhead">Adding Visual Design</h3>
            <p class="project_text">Moving into the design phase was simple, considering the simple and clean style the client desired. We applied their brand blue for interactive elements, also using yellow and red for preferences and error states. We didn't wireframe for mobile and instead figured out the challenges for mobile through the design phase.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container project_img-container--full">
            <img class="project_img" src="/static/img/full/wellthy16.png"/>
        </div>
        <div class="project_img-container project_img-container--med">
            <img class="project_img" src="/static/img/full/wellthy17.png"/>
            <h5 class="project_img-caption">Designs: community manager screens</h5>
        </div>
        <div class="project_img-container project_img-container--med">
            <img class="project_img" src="/static/img/full/wellthy18.png"/>
        </div>
        <div class="project_text-container">
            <h3 class="project_subhead">Adding administration tools</h3>
            <p class="project_text">Lastly, we added a flow for a "community manager" to be able to view all health planners and their customers.</p>
            <p class="project_text">In the end, we created a clearly designed system that would make their employees' and customers' lives easier, and would be easy for Wellthy to expand as their company grew.</p>
        </div>
    </section>
    

    {% include "layouts/footer.twig" %}
</section>
{% endblock %}