<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Amanda Pinsker is a product and interaction designer who cares about making her work smart, elegant, and simple by design.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ current_page.title }}</title>
    <link rel="shortcut icon" href="favicon.ico" >
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    {% endblock %}
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Karla:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/static/js/modernizr.js"></script>
    
  </head>
  <body class="portfolio">

  {% block content %}{% endblock %}

  {% block scripts %}
  
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  

  <!-- build:js /static/js/scripts.js -->
  <script type="text/javascript" src="/static/js/main.js"></script>
  <!-- endbuild -->
  {% endblock %}
  </body>
</html>
