<footer class="portfolio-footer">
    <span class="navigation-links navigation-links--footer">
        <a href="index.html"><h5 class="navigation-link navigation-link--footer {% if current_page.name == "home" %} current {% endif %}">Work</h5></a>
        <a href="about.html"><h5 class="navigation-link navigation-link--footer {% if current_page.name == "about" %} current {% endif %}">About</h5></a>
    </span>
    {% if current_page.type == "project" %}
        {% for item in data.portfolio %}
            {% if item.title == current_page.name %}
                <span class="recirc">
                    {% if item.prev %}
                    <span class="recirc-project recirc-project--prev">
                        <h6>Previous</h6>
                        <p>{{ item.prev }}</p>
                    </span>
                    {% endif %}
                    {% if item.next %}
                    <span class="recirc-project recirc-project--next">
                        <h6>Next</h6>
                        <p>{{ item.next }}</p>
                    </span>
                    {% endif %}
                </span>
            {% endif %}
        {% endfor %}

        {% else %}

        <span class="copyright">Designed and built by Amanda Pinsker © 2016</span>
    {% endif %}


</footer>