<footer class="portfolio-footer">
    <span class="navigation-links navigation-links--footer">
        <a href="index.html"><h5 class="navigation-link navigation-link--footer {% if current_page.name == "home" %} current {% endif %}">Work</h5></a>
        <a href="about.html"><h5 class="navigation-link navigation-link--footer {% if current_page.name == "about" %} current {% endif %}">About</h5></a>
    </span>
    {% if current_page.type == "project" %}
        {% for item in data.portfolio %}
            {% if item.title == current_page.name %}
                <span class="recirc">
                    {% if not loop.index0 == 0 %}
                    <span class="recirc-project recirc-project--prev">
                        <h6>Previous</h6>
                        <p><a href="{{data.portfolio[loop.index0 - 1].url}}">{{data.portfolio[loop.index0 - 1].title}}</a></p>
                    </span>
                    {% endif %}
                    {% set len = data.portfolio|length %}
                    {% if loop.index < len %}
                    <span class="recirc-project recirc-project--next">
                        <h6>Next</h6>
                        <p><a href="{{data.portfolio[loop.index0 + 1].url}}">{{data.portfolio[loop.index0 + 1].title}}</a></p>
                    </span>
                    {% endif %}
                </span>
            {% endif %}
        {% endfor %}

        {% else %}

        <span class="copyright">Designed and built by Amanda Pinsker © 2016</span>
    {% endif %}


</footer>